@tailwind base;
@tailwind components;
@tailwind utilities;

.clickable {
    @apply transition-all hover:opacity-60 active:opacity-20 cursor-pointer hover:pl-1 hover:mr-[-4px];
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}