@tailwind base;
@tailwind components;
@tailwind utilities;

.clickable {
    @apply cursor-pointer;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}